<div *ngIf="cs.estrategias">
    <div class="container animated fast" [ngClass]="animacion">
        <div class="row">
            <!-- ESTRATEGIA ---------------------------------------------------------- -->
            <div class="col-md-12 margin-b10">
                <mat-card>
                    <div class="row">
                        <div class="col">
                            <h3>ESTRATEGIA</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-button-toggle-group appearance="legacy" [value]="config.estrategia"
                                (change)="cambioEstrategia($event)">
                                <mat-button-toggle [value]="estrategia.carpeta"
                                    *ngFor="let estrategia of cs.estrategias">{{estrategia.texto}}</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                </mat-card>
            </div>
            <!-- FIN DE ESTRATEGIA --------------------------------------------------- -->
        </div>
        <div class="row">
            <!-- NUMERO EJERCICIOS --------------------------------------------------- -->
            <div class="col-md-6 margin-b10">
                <mat-card>
                    <div class="row">
                        <div class="col">
                            <h3>Nº DE EJERCICIOS</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-button-toggle-group appearance="legacy" [value]="config.numEjercicios"
                                (change)="config.numEjercicios = $event.value">
                                <mat-button-toggle [value]="10">10</mat-button-toggle>
                                <mat-button-toggle [value]="20">20</mat-button-toggle>
                                <mat-button-toggle [value]="30">30</mat-button-toggle>
                                <mat-button-toggle [value]="40">40</mat-button-toggle>
                                <mat-button-toggle [value]="50">50</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                </mat-card>
            </div>
            <!-- FIN NUMERO EJERCICIOS ----------------------------------------------- -->
            <!-- STACK EFECTIVO ------------------------------------------------------ -->
            <div class="col-md-6 margin-b10">
                <mat-card>
                    <div class="row">
                        <div class="col">
                            <h3>STACK</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-button-toggle-group multiple="true" appearance="legacy" [value]="config.stacks"
                                (change)="config.stacks = $event.value">
                                <mat-button-toggle *ngFor="let estrategia of this.dameBotonesStacks()"
                                    [value]="estrategia">{{estrategia | strategy}}</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                </mat-card>
            </div>
            <!-- FIN DE STACK EFECTIVO ----------------------------------------------- -->
        </div>
        <div class="row">
            <!-- SITUACIONES --------------------------------------------------------- -->
            <div class="col-md-12 margin-b10">
                <mat-card>
                    <div class="row">
                        <div class="col">
                            <h3>SITUACIONES</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col">
                                    <h3>3 HANDED</h3>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>BTN</h4>
                                    <mat-slide-toggle (change)="seleccionarSituacion(eSit._3H_BTN_OR, $event)"
                                        [checked]="situacionSeleccionada(eSit._3H_BTN_OR)" class="d-block"
                                        color="primary">OR</mat-slide-toggle>
                                </div>
                                <div class="col-md-4">
                                    <h4>SB</h4>
                                    <mat-slide-toggle (change)="seleccionarSituacion(eSit._3H_SB_OR, $event)"
                                        [checked]="situacionSeleccionada(eSit._3H_SB_OR)" class="d-block"
                                        color="primary">OR</mat-slide-toggle>
                                    <mat-slide-toggle (change)="seleccionarSituacion(eSit._3H_SB_vLimp, $event)"
                                        [checked]="situacionSeleccionada(eSit._3H_SB_vLimp)" class="d-block"
                                        color="primary">vs Limp</mat-slide-toggle>
                                    <mat-slide-toggle (change)="seleccionarSituacion(eSit._3H_SB_vMR, $event)"
                                        [checked]="situacionSeleccionada(eSit._3H_SB_vMR)" class="d-block"
                                        color="primary">vs MR</mat-slide-toggle>
                                </div>
                                <div class="col-md-4">
                                    <h4>BB</h4>
                                    <mat-slide-toggle (change)="seleccionarSituacion(eSit._3H_BB_vBTNLimp, $event)"
                                        [checked]="situacionSeleccionada(eSit._3H_BB_vBTNLimp)" class="d-block"
                                        color="primary">vs BTN Limp</mat-slide-toggle>
                                    <mat-slide-toggle (change)="seleccionarSituacion(eSit._3H_BB_vBTNMR, $event)"
                                        [checked]="situacionSeleccionada(eSit._3H_BB_vBTNMR)" class="d-block"
                                        color="primary">vs BTN MR</mat-slide-toggle>
                                    <mat-slide-toggle (change)="seleccionarSituacion(eSit._3H_BB_vSBLimp, $event)"
                                        [checked]="situacionSeleccionada(eSit._3H_BB_vSBLimp)" class="d-block"
                                        color="primary">vs SB Limp</mat-slide-toggle>
                                    <mat-slide-toggle (change)="seleccionarSituacion(eSit._3H_BB_vSBMR, $event)"
                                        [checked]="situacionSeleccionada(eSit._3H_BB_vSBMR)" class="d-block"
                                        color="primary">vs SB MR</mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col">
                                    <h3>HEADS UP</h3>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>SB</h4>
                                    <mat-slide-toggle (change)="seleccionarSituacion(eSit.HU_SB_OR, $event)"
                                        [checked]="situacionSeleccionada(eSit.HU_SB_OR)" class="d-block"
                                        color="primary">OR</mat-slide-toggle>
                                </div>
                                <div class="col-md-4">
                                    <h4>BB</h4>
                                    <mat-slide-toggle (change)="seleccionarSituacion(eSit.HU_BB_vSBLimp, $event)"
                                        [checked]="situacionSeleccionada(eSit.HU_BB_vSBLimp)" class="d-block"
                                        color="primary">vs Limp</mat-slide-toggle>
                                    <mat-slide-toggle (change)="seleccionarSituacion(eSit.HU_BB_vSBMR, $event)"
                                        [checked]="situacionSeleccionada(eSit.HU_BB_vSBMR)" class="d-block"
                                        color="primary">vs MR</mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <!-- FIN DE SITUACIONES -------------------------------------------------- -->
        </div>

        <div class="row">
            <div class="col text-right">
                <button mat-raised-button color="primary" [disabled]="!configuracionValida()" (click)="comenzar()">
                    COMENZAR!
                </button>
            </div>
        </div>
        <br>
        <div class="col">
            <div class="row justify-content-center">
                <p>Nota: Los rangos utilizados en esta DEMO son inventados a modo de ejemplo</p>
            </div>
            <div class="row  justify-content-center">
                <p>Puedes practicar con esta aplicación y rangos reales en: <a href="https://spintrainer.educapoker.com"
                        target="_blank">
                        spintrainer.educapoker.com</a></p>
            </div>
        </div>
    </div>
</div>