.mesa-wrapper {
    width: 100%;
    position: relative;
}

.imagen-mesa {
    width: 100%;
}

// ----------------------------
// POSICION DE LOS JUGADORES
// ----------------------------
.player {
    height: 20%;
    width: 25%;
}

.player1 {
    position: absolute;
    top: 9%;
    left: 3%;
}

.player2 {
    position: absolute;
    top: 9%;
    right: 3%;
}

.hero {
    position: absolute;
    bottom: 0%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media (max-width: 576px) {
    .player {
        height: 25%;
        width: 30%;
    }
    .player1 {
        position: absolute;
        top: 10%;
        left: -3%;
    }
    .player2 {
        position: absolute;
        top: 10%;
        right: -3%;
    }
}

// ----------------------------
// POSICIÓN DEL BTN DE DEALER
// ----------------------------
.button {
    position: absolute;
    width: 3.5%;
    height: 3.5%;
}

.button-hero {
    bottom: 24%;
    left: 35.5%;
}

.button-player1 {
    top: 29%;
    left: 30%;
}

.button-player2 {
    top: 29%;
    right: 30%;
}

@media (max-width: 576px) {
    .button-hero {
        bottom: 32%;
        left: 33.5%;
    }
    .button-player2 {
        top: 33%;
        right: 28%;
    }
    .button-player1 {
        top: 33%;
        left: 28%;
    }
}

// ----------------------------
// POSICIÓN DE LAS CARTAS
// ----------------------------
.cards-player {
    position: absolute;
    width: 17%;
}

.cards-player2 {
    top: 2%;
    right: 6%;
}

.cards-player1 {
    top: 2%;
    left: 6%;
}

.cards-hero {
    bottom: 19%;
    left: 51%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media (max-width: 576px) {
    .cards-player2 {
        top: 1%;
        right: -1%;
    }
    .cards-player1 {
        top: 1%;
        left: -1%;
    }
    .cards-hero {
        bottom: 22%;
    }
    .cards-player {
        position: absolute;
        width: 22%;
    }
}

// ----------------------------
// POSICIÓN DE APUESTAS
// ----------------------------
.apuesta {
    position: absolute;
    width: 10%;
    height: 15%;
}

.apuesta-hero {
    bottom: 18%;
    right: 31.5%;
}

.apuesta-player1 {
    top: 17%;
    left: 32%;
}

.apuesta-player2 {
    top: 17%;
    right: 32%;
}

.ante {
    top: 50%;
    right: 45%;
}

@media (max-width: 576px) {
    .apuesta-hero {
        bottom: 25%;
        right: 28%;
    }
    .apuesta-player1 {
        top: 22%;
        left: 32%;
    }
    .apuesta-player2 {
        top: 22%;
        right: 32%;
    }
    .ante {
        top: 50%;
        right: 45%;
    }
}

// ----------------------------
// POSICIÓN DEL HUD DE LA MESA
// ----------------------------
.hud-mesa {
    position: absolute;
    top: 7.5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 5px 5px;
    border-radius: 4px;
    background-color: rgba(39, 39, 39, 0.507);
}

.hud-mesa p {
    color: #fff;
    margin: 0px;
    font-size: 100%;
    line-height: 1.2;
}

@media (max-width: 576px) {
    .hud-mesa p {
        font-size: 70%;
    }
}

@media (max-width: 400px) {
    .hud-mesa p {
        font-size: 50%;
    }
}